name: Standard CI

# Trigger
on: push

jobs:
    build-test:
        name: Build Test and Deploy
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Latest code
              uses: actions/checkout@v4

            - name: Setup Nodejs
              uses: actions/setup-node@v4
              with:
                  node-version: 18
                  cache: 'npm'
                  
            - name: Install dependencies
              run: npm i
            - name: Run lint
              run: npm run lint

            - name: Run build
              run: npm run build

            - name: Run test
              run: npm run test
            
            - name: Run deploy
              run: npm run deploy